@using Gms.Domain
@model Gms.Domain.Health.Diagnoses
@{
    Layout = "~/Views/Shared/EmptyLayout.cshtml";
}

<body>
    @*<link href="@Url.Content("/Scripts/jquery-ui-1.11.3.custom/jquery-ui.css")" rel="stylesheet">
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-ui-1.11.3.custom/external/jquery/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-ui-1.11.3.custom/jquery-ui.js")"></script>*@
    
    <fieldset>
        <legend>
            医疗结论
        </legend>
        
        <input id="diagnosesId" value="@Model.Id" style="display: none">

        <div id="toolbar" style="padding: 5px; height: auto">
            输入拼音首字母快捷检索添加诊断：
            <input id="diseasetag" />
            <span>|</span>
             
            <a href="#" id="btnAdd" class="easyui-linkbutton" >诊断添加</a>

        </div>
     
        <table id="disease_list" url="/Health/DiseaseList?diagnosesid=@Model.Id" >
            
        </table>
        
        <div style="margin-top: 10px;">
            <p>
                病程阶段：
                @Html.DropDownListFor(c=>c.DiseaseStage)
            </p>
        
@*            <p>
                糖尿病类型：
                @Html.DropDownListForCommonCode(c=>c.Diabetes,CommonCodeType.糖尿病类型,"请选择")
            </p>*@
        </div>

    </fieldset>
    <div style="text-align:center;">
        <a href="#" id="btnSave" class="easyui-linkbutton" iconcls="icon-save">保存</a>
    </div>
    
    <div id="selcet_disease_dlg" dlgtitle="选择诊断" style="display: none;padding:8px;">
        <iframe id="selcet_disease_dlg_content" style="width: 100%; height: 100%; border: none;" frameborder="no">
            @*动态加载*@
        </iframe>
    </div>

</body>

<script type="text/javascript" src="@Url.Content("/Scripts/Health/ylzd.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Ylzd.Init();
    });
</script>



