
@using Gms.Common
@using Gms.Domain
@model Gms.Domain.Health.GdIdentification

@{
    Layout = null;
}

<form id="doctorform" method="post" action="/BaseLine/GdYbqkSave">
    
    <input name="Id" type="text" style="display: none" value="@Model.Id">

    <table class="form_table" style="width:100%;">
        <tr>
            <td class="td-label w-i-20">患者姓名</td>
            <td>
                @Model.Patient.RealName
            </td>
        </tr>
        <tr>
            <td class="td-label">性别</td>
            <td>
                @Model.Patient.Sex.ToString()
            </td>
        </tr>
        <tr>
            <td class="td-label">出生年月</td>
            <td>
                @Model.Patient.Birthday.ToString("yyyy年MM月dd日")
            </td>
        </tr>
        <tr>
            <td class="td-label">年龄</td>
            <td>
                @Model.Patient.Age
                岁
            </td>
        </tr>
        <tr>
            <td class="td-label">身份证号</td>
            <td>
                @Model.Patient.IdCard
            </td>
        </tr>
        <tr>
            <td class="td-label">所在地区</td>
            <td>
                @{
                    string strArea = "";
                    if (Model.Patient.Area != null)
                    {
                        strArea = Model.Patient.Area.FullNameString();
                    }
                }
                <span id="showArea">
                    @strArea
                </span>
                
                @*@Html.DropDownListForCommonCode(c=>c.Patient.Area,CommonCodeType.地区)*@
                @Html.TextBoxFor(c=>c.Patient.Area.Id,new{style="display: none;"})
                <a id="selectArea" href="#/CommonCode/Select?type=@CommonCodeType.地区" class="btn-small">选择/修改</a>
            </td>
        </tr>
        
        <tr>
            <td class="td-label">手机号码</td>
            <td>
                @Html.TextBoxFor(c=>c.Patient.Mobile1)
            </td>
        </tr>
        <tr>
            <td class="td-label">教育水平</td>
            <td>
                @Html.DropDownListForCommonCode(c=>c.EducationalLevel,CommonCodeType.教育水平)
            </td>
        </tr>
        <tr>
            <td class="td-label">职业</td>
            <td>
                @Html.DropDownListForCommonCode(c=>c.Job,CommonCodeType.职业)
            </td>
        </tr>
        <tr>
            <td class="td-label">民族</td>
            <td>
                @Html.DropDownListForCommonCode(c=>c.Nation,CommonCodeType.民族)
            </td>
        </tr>
        <tr>
            <td class="td-label">吸烟</td>
            <td>
                @Html.DropDownListFor(c=>c.Smoking)
            </td>
        </tr>
        <tr>
            <td class="td-label">诊断日期</td>
            <td>
                @Html.TextBoxFor(c => c.Patient.DiagnoseDate,new{@class="easyui-datebox"})
            </td>
        </tr>
        <tr>
            <td class="td-label">末次月经</td>
            <td>
                @Html.TextBoxFor(c => c.LastMenstrualPeriod,new{@class="easyui-datebox"})
            </td>
        </tr>
        <tr>
            <td class="td-label">孕周（w）</td>
            <td>
                @Html.TextBoxFor(c=>c.PregnancyWeeks)周
            </td>
        </tr>
    </table>

</form>
@*<script type="text/javascript">
    $('#DiagnoseDate').datebox({
        onSelect: function (date) {
           
            var nowDate = new Date();

            var val = "";

            var nYear = nowDate.getFullYear() - date.getFullYear();
            
            var nMonth = nowDate.getMonth() - date.getMonth();

            if (nMonth < 0) {
                nYear = nYear - 1;
                nMonth = nowDate.getMonth() + 12 - date.getMonth();
            }

            if (nYear > 0) {
                val = nYear + "年";
            }

            if (nMonth > 0)
            {
                val += (nMonth + "月");
            }

            $("#DiseaseCourse").text(val);
        }
    });
</script>*@
